@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Почта подтверждена";
}
<div class="container">
    <h1 class="pt-5">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>