@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение о потери пароля";
}
<div class="container">
    <h1 class="pt-5">@ViewData["Title"]</h1>
    <p>
        Пожалуйста, проверьте почту.
    </p>
</div>
