@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение почты";
}
<div class="container">
    <h1 class="pt-5">@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                Здесь пока не было установлено функция проверки почты <a href="https://aka.ms/aspaccountconf">подробнее здесь</a>
                Нажимите на <a id="confirm-link" href="@Model.EmailConfirmationUrl">эту кнопку</a> чтобы подтвердить почту
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
