@model CRM_VUS.ViewModels.PScheduleVM

@{
    ViewData["Title"] = "Добавить учебный предмет";
}
@await Html.PartialAsync("Index")
<div class="modal fade" id="Create_Lessons" tabindex="-1" aria-labelledby="Create_group_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-bg-warning">
            <form asp-action="AddLessons" asp-controller="home" data-ajax-method="POST" data-ajax="true" data-ajax-update="studentFormDetails" data-ajax-complete="OnComplete">
                <div class="modal-header text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Создать учебный предмет</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input asp-for="СL.Lessons" class="form-control" aria-required="true" placeholder="ПМ05" />
                        <label asp-for="СL.Lessons">Предмет</label>
                        <span asp-validation-for="СL.Lessons" class="text-light"></span>
                    </div>
                    <label class="text-light">@ViewBag.Message</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light text-dark" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-dark text-light">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>