@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Здесь хранится данные вашего аккаунта. Вы можете удалить данные либо же установить их в формате JSON</p>
        <p>
            <strong>Если вы нажмёте на кнопку "Удалить", ваш аккаунт будет потерян без возврата</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn  btn-warning text-light" type="submit">Установить</button>
        </form>
        <p style="margin-top: 10px">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-dark">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
